body{
	margin: 0 auto;
	padding: 0;
	background: url("../images/Trojans_logo.jpg")repeat center fixed;
	-webkit-background-size: contain;
}
#bodyWrap{
	width: 1200px;
	background: black;
	opacity: 0.90;
    filter: alpha(opacity=90);
}
#headbtn{
	height: 75px;
	width: 1200px;
	background: yellow;
}
ul{
	margin:0;
	padding:0;
	list-style:none;
	display: block;
}
li{
	margin:0;
	padding:0;
	display: block;
}
# a:link, a:visited{
	margin-left: 0 auto;
	margin-right: 5px;
	text-decoration: none;
	text-align: center;
	display: block;
	color: white;
	height: 48px;
	width: 100px;
	font-size: 25px;
	border: 2px solid gold;
	border-radius: 25px;
	line-height: 50px;
	float: left;
}
# a:hover{
	color: black;
	background: yellow;
}
#logo{
	height: 150px;
	width: 150px;
	background: url("../images/CCE_logo.png")no-repeat center;
}
#content{
	border: 1px solid red;
	height: 100px;
	color: white;
	font-size: 30px;
	text-align: center;
}
#button{
	height: 100px;
	border: 1px solid green;;
	color: white;
}
#maincontent{
	margin-top: 100px;
	width: 850px;
}
#mc1{
	color: white;
	font-size: 30px;
}
#mc2{
	float: left;
	margin-top: 40px;
	width: 420px;
}
#mc3{
	width: 100px;
	float: left;
	color: white;
	font-size: 20px;
	text-align: left;
	margin-top: 5px;
}
#mc4{
	color: white;
	width: 200px;
}
#mc4 input{
	margin-top: 5px;
	width: 300px;
	height: 25px;
	font-size: 20px;
}
#mc5{
	margin-top: 5px;
	margin-left: 103px;
	height: 20px;
	width: 300px;
	font-size: 15px;
	color: red;
	text-align: left;
}
#mc6{
	margin-top: 40px;
	float: right;
	width: 420px;
}
#mc7{ 
	width: 100px;
	float: left;
	color: white;
	font-size: 20px;
	text-align: left;
	margin-top: 5px;
}
#mc8{
	color: white;
	width: 200px;
}
#mc8 input{
	margin-top: 5px;
	width: 300px;
	height: 25px;
	font-size: 20px;
}
#mc9{
	margin-top: 5px;
	margin-left: 103px;
	height: 20px;
	width: 300px;
	font-size: 15px;
	color: red;
	text-align: left;
}
#mc10{
	float: left;
	margin-top: 27px;
	width: 420px;
}
#mc11{
	width: 100px;
	float: left;
	color: white;
	font-size: 20px;
	text-align: left;
	margin-top: 5px;
}
#mc12{
	color: white;
	width: 200px;
}
#mc12 input{
	margin-top: 5px;
	width: 300px;
	height: 25px;
	font-size: 20px;
}
#mc13{
	margin-top: 5px;
	margin-left: 103px;
	height: 20px;
	width: 300px;
	font-size: 15px;
	color: red;
	text-align: left;
}
#mc14{
	margin-top: 27px;
	float: right;
	width: 420px;
}
#mc15{  
	width: 100px;
	float: left;
	color: white;
	font-size: 20px;
	text-align: left;
	margin-top: 5px;
}
#mc16{
	color: white;
	width: 200px;
}
#mc16 input{
	margin-top: 5px;
	width: 300px;
	height: 25px;
	font-size: 20px;
}
#mc17{
	margin-top: 5px;
	margin-left: 103px;
	height: 20px;
	width: 300px;
	font-size: 15px;
	color: red;
	text-align: left;
}
#mc18{
	float: left;
	margin-top: 25px;
	width: 420px;
}
#mc19{   
	width: 100px;
	float: left;
	color: white;
	font-size: 20px;
	text-align: left;
	margin-top: 5px;
}
#mc20{
	color: white;
	width: 200px;
}
#mc20 input{
	margin-top: 5px;
	width: 300px;
	height: 25px;
	font-size: 20px;
}
#mc21{
	margin-top: 5px;
	margin-left: 103px;
	height: 20px;
	width: 300px;
	font-size: 15px;
	color: red;
	text-align: left;
}
#mc22{
	margin-top: 25px;
	float: right;
	width: 420px;
}
#mc23{  
	width: 100px;
	float: left;
	color: white;
	font-size: 20px;
	text-align: left;
	margin-top: 5px;
}
#mc24{
	color: white;
	width: 200px;
}
#mc24 input{
	margin-top: 5px;
	width: 300px;
	height: 25px;
	font-size: 20px;
}
#mc25{
	margin-top: 5px;
	margin-left: 103px;
	height: 20px;
	width: 300px;
	font-size: 15px;
	color: red;
	text-align: left;
}
#mc26{
	width: 450px;
	color: white;
	font-size: 20px;
	margin-top: 315px;
	padding-bottom: 20px;
}
#mc27{
	margin-top: 20px;
	margin-left: -200px;
	width: 150px;
	height: 30px;
}
#mc27 button{
	width: 150px;
	height: 30px;
}
#mc28{
	margin-top: -30px;
	margin-left: 200px;
	width: 150px;
	height: 30px;
}
#mc28 button{
	width: 150px;
	height: 30px;
}
#footer{
	height: 35px;
	padding-top: 10px;
	font-size: 20px;
	background: gray;
	color: black;
}